[submodule "InfiniteScrollerKha/Kha"]
	path = InfiniteScrollerKha/Kha
	url = https://github.com/KTXSoftware/Kha.git
	branch = master
[submodule "InfiniteScrollerKha/Libraries/Kha2D"]
	path = InfiniteScrollerKha/Libraries/Kha2D
	url = https://github.com/KTXSoftware/Kha2D.git
