[submodule "Kha"]
	path = Kha
	url = https://github.com/KTXSoftware/Kha.git
	branch = master
[submodule "Libraries/Kha2D"]
	path = Libraries/Kha2D
	url = https://github.com/KTXSoftware/Kha2D.git
